$color-accent: (
  50 : #ffeae2,
  100 : #ffcbb8,
  200 : #ffa988,
  300 : #ff8758,
  400 : #ff6d35,
  500 : #ff5311,
  600 : #ff4c0f,
  700 : #ff420c,
  800 : #ff390a,
  900 : #ff2905,
  A100 : #ffffff,
  A200 : #fff4f3,
  A400 : #ffc7c0,
  A700 : #ffb0a7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
